<div class="card">
    <header class="card-header">
        {% if post.subtitle %}
          <a class="card-header-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<br>{{ post.subtitle }}</a>
        {% else %}
          <a class="card-header-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        {% endif %}
    </header>

    <div class="card-content">
        <div class="content">
            <p>{{ post.excerpt }}</p>
        </div>
        <div class="has-text-centered">
            <a href="{{ site.baseurl }}{{ post.url }}" class="button is-primary">もっと見る...</a>
        </div>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">Published: {{ post.date | date: "%Y/%m/%d" }}</p>
    </footer>
</div>