<div class="content">
  <div>
    <img src="/images/logo.png" alt="しまねOSS協議会" style="max-width: 240px;">
  </div>

  <h2>メディア</h2>
  <hr />
  <div>
    <div>しまねOSS協議会Facebookページ</div>
    <div class="sidebar-media fb-page" data-href="https://www.facebook.com/OSS.Society.Shimane" data-tabs="" data-width="240"
      data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
      data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/OSS.Society.Shimane" class="fb-xfbml-parse-ignore"><a
          href="https://www.facebook.com/OSS.Society.Shimane">しまねOSS協議会</a></blockquote>
    </div>

    <div>しまねOSS協議会YouTubeチャンネル</div>
    <div class="sidebar-media">
      <a href="https://www.youtube.com/channel/UCV5zrptA8_cSIJCkx22M4MA/videos" target="_blank"
        style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: black; text-decoration: none;"
        title="しまねOSS協議会YouTubeチャンネル"></a><br /><a
        href="https://www.youtube.com/channel/UCV5zrptA8_cSIJCkx22M4MA/videos" target="_blank"
        title="しまねOSS協議会YouTubeチャンネル"><img src="/images/yt_logo_rgb_light.png" /></a>
    </div>

    <div>松江OSSビジコンFacebookページ</div>
    <div class="sidebar-media fb-page" data-href="https://www.facebook.com/matsuebpc" data-tabs="" data-width="240" data-height=""
      data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/matsuebpc" class="fb-xfbml-parse-ignore"><a
          href="https://www.facebook.com/matsuebpc">松江オープンソース活用ビジネスプランコンテスト</a></blockquote>
    </div>

    <div>松江OSSビジコンYouTubeチャンネル</div>
    <div class="sidebar-media">
      <a href="https://www.youtube.com/channel/UCqkeCGZj3tWjHYNk-QuKmVA/videos" target="_blank"
        style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: black; text-decoration: none;"
        title="松江OSSビジコンYouTubeチャンネル"></a><br /><a
        href="https://www.youtube.com/channel/UCqkeCGZj3tWjHYNk-QuKmVA/videos" target="_blank"
        title="松江OSSビジコンYouTubeチャンネル"><img src="/images/yt_logo_rgb_light.png" /></a>
    </div>

    <h2>イベント</h2>
    <hr />
    <div>
      <a href="/biz-contest2024/" target="_blank"><img
          src="https://www.shimane-oss.org/biz-contest2024/images/banner_120-60.gif"
          alt="松江オープンソース活用ビジネスプランコンテスト2024" /></a>
      <br>
      <a href="/kani-robo/" target="_blank"><img src="/images/bn_matzba.png"
          alt="Matz葉がにロボコン" /></a>
      <br>
      <a href="https://www.rubyworld-conf.org/" target="_blank"><img src="/images/RWC2021_banner_sponsor_120_60.jpg"
          style="width: 120px; height: 60px;"></a>
      <br>
      <a href="https://www.ospn.jp/osc2019-shimane/" target="_blank"><img src="/images/OSC2019.png"
          alt="Open Source Conference 2019 Shimane" /></a>
    </div>
    <h2>リンク</h2>
    <hr />
    <div>
      <a href="https://rubycitymatsue.jp/" target="_blank">RubyCityMatsueProject</a>
      <br>
      <a href="http://www1.city.matsue.shimane.jp/jigyousha/sangyou/ruby/rabo_open.html" target="_blank">松江オープンソースラボ</a>
    </div>
  </div>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v9.0&appId=2318000054983033&autoLogAppEvents=1"
    nonce="JL6mYzKG"></script>

  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v9.0&appId=2318000054983033&autoLogAppEvents=1"
    nonce="C2Vbs0Su"></script>
