<div>
  <img src="/images/logo.png" alt="しまねOSS協議会" style="max-width: 240px;">
</div>

<h2>メディア</h2>
<a href="https://www.facebook.com/OSS.Society.Shimane" target="_blank" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: black; text-decoration: none;" title="しまねOSS協議会Facebookページ">しまねOSS協議会Facebookページ</a><br/><a href="https://www.facebook.com/OSS.Society.Shimane" target="_blank" title="しまねOSS協議会Facebookページ"><img src="https://badge.facebook.com/badge/227840647230116.3160.65062093.png" style="border: 0px;" /></a>
<br>
<a href="https://www.youtube.com/channel/UCV5zrptA8_cSIJCkx22M4MA/videos" target="_blank" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: black; text-decoration: none;" title="まねOSS協議会YouTubeチャンネル">しまねOSS協議会YouTubeチャンネル</a><br/><a href="https://www.youtube.com/channel/UCV5zrptA8_cSIJCkx22M4MA/videos" target="_blank" title="しまねOSS協議会YouTubeチャンネル"><img src="/images/yt_logo_rgb_light.png" /></a>

<h2>イベント</h2>
<a href="https://www.rubyworld-conf.org/" target="_blank"><img src="/images/rwc2020_banner_a01@2x.png" style="width: 120px; height: 60px;"></a>
<br>
<a href="/biz-contest2020/" target="_blank"><img src="/images/biz-contest2020_banner_120-60.gif" alt="松江オープンソース活用ビジネスプランコンテスト2020" /></a>
<br>
<a href="https://www.ospn.jp/osc2019-shimane/" target="_blank"><img src="/images/OSC2019.png" alt="Open Source Conference 2019 Shimane"/></a>

<h2>リンク</h2>
<a href="https://rubycitymatsue.jp/" target="_blank">RubyCityMatsueProject</a>
<br>
<a href="http://www1.city.matsue.shimane.jp/jigyousha/sangyou/ruby/rabo_open.html" target="_blank">松江オープンソースラボ</a>