div.highlight {
    margin-bottom: 1rem;
}

@include desktop {
    .navbar-item {
        &.is-hoverable:hover {
            .navbar-dropdown {
                display: block;
            }
        }
    }
}

.contents {
    box-shadow: $box-shadow;
    padding: 1.5rem;
    margin-bottom: 3rem;
}

.content h1 {
    color: #3B5998;
}

.hero-darken {
    background-color: rgba($hero-darken, 0.5);
}

a:hover {
    color: $red;
    text-decoration: underline;
}

.card-header-title {
    color: $blue;
    background-color: $white-ter;
}

.published {
    margin-top: 4em;
}
